DISCORD_TOKEN=
DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_NAME=
ENABLE_BOT_LOGIN=true
REGISTER_COMMANDS=true
DRY_RUN=false
MEMBER_ROLE_ID=
UPDATE_CHANNEL_ID=
MONITOR_CHANNEL_ID=
PANEL_ACCESS_ROLE_ID=
EXCLUDED_CHANNEL_ID=
UCP_HELP_URL=
SAMP_HOST=139.99.22.124
SAMP_PORT=5555
IMAGE_ON=
IMAGE_OFF=
IMAGE_RESTART=
REGISTER_IMAGE=
FACTION_IMAGE=
